/* src/styles/Header.css */
.header {
    background-color: hsla(120,.69%,71.57%,1);padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }

  .navbar-logo {
    height: 40px;       /* Adjust to your desired logo height */
    width: auto;        /* Maintain aspect ratio */
    vertical-align: middle; /* Align logo vertically in the navbar (optional) */
    /* You can add other styles here like margin, etc. */
}